#hide default folders
alacritty/
autostart/
cachyos/
dconf/
fish/
go/
gtk-3.0/
gtk-4.0/
haruna/
kate/
KDE/
kdeconnect/
kdedefaults/
libaccounts-glib/
micro/
mozilla/
obs-studio/
octopi/
pulse/
session/
systemd/
xsettingsd/

#hide default files
arkrc
baloofilerc
bluedevilglobalrc
cachyos-hello.json
dolphinrc
filetypesrc
gtkrc
gtkrc-2.0
kactivitymanagerdrc
kate-externaltoolspluginrc
kactivitymanagerdrc
katerc
katevirc
kcminputrc
kconf_updaterc
kded5rc
kded6rc
kdeglobals
kglobalshortcutsrc
kmenueditrc
konsolerc
konsolesshconfig
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
libinput-gestures.conf
mimeapps.list
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
QtProject.conf
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale